[submodule "CMake"]
	path = CMake
	url = https://github.com/StoneyDSP/CMake.git

[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/StoneyDSP/vcpkg.git

[submodule "doxygen"]
	path = doxygen
	url = https://github.com/StoneyDSP/doxygen.git
