# This sets the default behaviour, overriding core.autocrlf
* text=auto eol=lf

*.md text
*.cmake text
CMakeLists.txt text

# All source files should have unix line-endings in the repository, but convert to native line-endings on checkout
# Keep the include header(s) with LFs to make sure it is uploaded, hashed etc with LF
*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli} text

# Keep the LICENSE file with LFs to make sure it is uploaded, hashed etc with LF
LICENSE eol=lf
VERSION eol=lf
README eol=lf
